.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 0.4rem;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fcabae;
}
.navLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navItems{
  display: flex;
  flex-flow: row wrap;
}

.navItems button{
  margin-left: 2rem;
  color: whitesmoke;
}

.cartLogo{
  max-height: 2rem;
}

.navCart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navCart p{
  font-size: x-large;
  color: whitesmoke;

}


.cardContainer{
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.css-1t6e9jv-MuiCardActions-root{
  justify-content: center;
}

.countContainer{
  background-color: #dddddd;;
  width: 100%;

}
.countContainer__div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.addCartButton{
  margin-bottom: 1rem;
}


