.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 0.4rem;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fcabae;
}
.navLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}
.navItems{
  display: flex;
  flex-flow: row wrap;
  min-width: 50%;
  max-width: 50%;
  justify-content: space-around;
}

.navItems a{
  color: whitesmoke;
  text-decoration: none;
  min-width: 100%;
  max-width: 100%;
  font-size: 1rem;

}

.cartLogo{
  max-height: 2rem;
}

.navCart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navCart p{
  font-size: x-large;
  color: whitesmoke;
  margin-left: 0.5rem;

}

.cartModal p{
  text-align: center;

}
.cartList{
  display: flex;
  min-width: 32;
  max-width: 32;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1vh;
}

.cartList__img img{
  max-width: 6rem;
  max-height: 6rem;
  min-width: 6rem;
  max-height: 6rem;
}

.cartList__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.cartList__info p{
  text-align: center;
  margin: 0.5vh;
}

.cardContainer{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardContainer__div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  min-width: 90%;
  max-width: 90%;
}

.cardContent__detail{
  max-height: 90%;
  min-height: 90%;
}

.cardContent__detail button{
  text-decoration: none;
  background-color: #fcabae;
}

.cardContent__detail button a{
  text-decoration: none;
  color: whitesmoke;
}

.cardContent__detail button:hover{
  text-decoration: none;
  background-color: #b5787a;
}

.cardContent__detail button a:hover{
  text-decoration: none;
  color: black;
}

.cardContainer img{
  max-width: 90%;
  min-width: 90%;
  min-height: 10rem;
  max-height: 10rem;
  padding-top: 1rem;
}


.css-1097d9j-MuiPaper-root-MuiCard-root{
  min-height: 10px;
  max-height: 10px;
}

.css-1t6e9jv-MuiCardActions-root{
  justify-content: center;
}

.countContainer{
  background-color: #dddddd;;
  width: 100%;

}
.countContainer__div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.addCartButton{
  margin-bottom: 1rem;
}

.detailItems__container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ecebd7;
  max-width: 100%;
  min-width: 100%;
  margin-top: 1rem;
}

.detailItems__container img{
  max-width: 30rem;
  max-height: 30rem;
  border: solid 4px #fcabae;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.detailItems__container--column{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.detailItems__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 80%;
  border-radius: 1rem;
}

.detailItems__buy .css-sghohy-MuiButtonBase-root-MuiButton-root{
  color: #fcabae;
  background-color: whitesmoke;
}

.detailItems__buy .css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
  color: #f6a5a8;
  background-color: #9e9e9e;
}


ul.productColor {
  padding-left: 0px;
  list-style: none;
  margin: 10px 0px;
  display: flex;
}

ul.productColor li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}

.contact__column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20rem;
  margin-top: 4rem;
}

.contact__row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 20%;
}

.contact__row img{
  max-width: 4rem;
  min-width: 4rem;
}


