.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 0.4rem;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fcabae;
}
.navLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navItems{
  display: flex;
  flex-flow: row wrap;
}

.navItems button{
  margin-left: 2rem;
  color: whitesmoke;
}


